{
  "plugins": ["jsx-a11y"],
  "rules": {
    "jsx-a11y/rule-name": 2
  },
  "extends": ["plugin:jsx-a11y/recommended"],
  "settings": {
    "jsx-a11y": {
      "components": {
        "CityInput": "input",
        "CustomButton": "button",
        "MyButton": "button",
        "RoundButton": "button"
      }
    }
  }
}
